
<div id="contact">
    <footer class="footer">
      <h2 class="#contact">
        Únete a la revolución digital con InfiniteSoftware Innovations. <br />
        Descubre cómo podemos transformar tus ideas en realidades digitales.
      </h2>
      <div class="cta-buttons">
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-lg p-button-success"
        >
          Explora Nuestros Servicios
        </button>
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-lg p-button-info"
        >
          Contáctanos para Consultas
        </button>
        <button
          pButton
          type="button"
          class="p-button-rounded p-button-lg p-button-warning"
        >
          Solicita una Demostración
        </button>
      </div>
      <!-- <div class="links">
        <p>
          <a class="rotlink" routerLink="/about">Descubre más sobre nosotros</a>
        </p>
        <p>
          <a class="rotlink" routerLink="/services">Explora nuestros servicios</a>
        </p>
        <p>
          <a class="rotlink" routerLink="/testimonials"
            >Lee los testimonios de nuestros clientes</a
          >
        </p>
      </div> -->
    </footer>
  </div>