<div id="contact">
  <footer class="footer">
    <h2 class="#contact">
      Únete a la revolución digital con InfiniteSoftware Innovations. <br />
      Descubre cómo podemos transformar tus ideas en realidades digitales.
    </h2>
    <div class="cta-buttons">
      <button
        type="button"
        class="p-button p-button-rounded p-button-lg p-button-success"
        (click)="explorarServicios()"
      >
        Explora Nuestros Servicios
      </button>
      <button
        type="button"
        class="p-button p-button-rounded p-button-lg p-button-info"
        (click)="contactarConsultas()"
      >
        Contáctanos para Consultas
      </button>
      <button
        type="button"
        class="p-button p-button-rounded p-button-lg p-button-warning"
        (click)="solicitarDemostracion()"
      >
        Solicita una Demostración
      </button>
    </div>   
  </footer>
</div>
