<div class="fondo" >
  <header>
    <div id="logo">
      <!-- Logotipo de InfiniteSoftware Innovations -->
      <img
        class="logImage"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa1s47x55EBz-x4faCJhwcBnKk1fmePJ0rwp5QlOc-4Q&s"
        alt="InfiniteSoftware Innovations"
        style="height: 50px; width: 50px"
      />
    </div>

    <!-- Menú de navegación -->
    <nav>
      <ul>
        <li><a routerLink="#">Inicio</a></li>
        <li><a routerLink="#about">Sobre Nosotros</a></li>
        <li><a routerLink="#services">Servicios</a></li>
        <li><a routerLink="#testimonials">Testimonios</a></li>
        <li><a routerLink="#contact">Contacto</a></li>
      </ul>
    </nav>
  </header>

  <div id="title">
    <span>INFINITI SOFTWARE INNOVATIONS</span>
  </div>

  <div class="circle"></div>

  <div class="particle1" style="left: 1%; top: 93%"></div>
  <div class="particle2" style="left: 2%; top: 52%"></div>
  <div class="particle3" style="left: 3%; top: 15%"></div>
  <div class="particle4" style="left: 4%; top: 30%"></div>
  <div class="particle5" style="left: 5%; top: 16%"></div>
  <div class="particle6" style="left: 6%; top: 31%"></div>
  <div class="particle7" style="left: 7%; top: 18%"></div>
  <div class="particle8" style="left: 8%; top: 71%"></div>
  <div class="particle9" style="left: 9%; top: 26%"></div>
  <div class="particle10" style="left: 10%; top: 65%"></div>
  <div class="particle11" style="left: 11%; top: 24%"></div>
  <div class="particle12" style="left: 12%; top: 50%"></div>
  <div class="particle13" style="left: 13%; top: 76%"></div>
  <div class="particle14" style="left: 14%; top: 49%"></div>
  <div class="particle15" style="left: 15%; top: 80%"></div>
  <div class="particle16" style="left: 16%; top: 39%"></div>
  <div class="particle17" style="left: 17%; top: 28%"></div>
  <div class="particle18" style="left: 18%; top: 48%"></div>
  <div class="particle19" style="left: 19%; top: 97%"></div>
  <div class="particle20" style="left: 20%; top: 13%"></div>
  <div class="particle21" style="left: 21%; top: 26%"></div>
  <div class="particle22" style="left: 22%; top: 13%"></div>
  <div class="particle23" style="left: 23%; top: 78%"></div>
  <div class="particle24" style="left: 24%; top: 51%"></div>
  <div class="particle25" style="left: 25%; top: 39%"></div>
  <div class="particle26" style="left: 26%; top: 54%"></div>
  <div class="particle27" style="left: 27%; top: 81%"></div>
  <div class="particle28" style="left: 28%; top: 87%"></div>
  <div class="particle29" style="left: 29%; top: 92%"></div>
  <div class="particle30" style="left: 30%; top: 57%"></div>

  <div class="particle31" style="left: 31%; top: 61%"></div>
  <div class="particle32" style="left: 32%; top: 65%"></div>
  <div class="particle33" style="left: 33%; top: 36%"></div>
  <div class="particle34" style="left: 34%; top: 43%"></div>
  <div class="particle35" style="left: 35%; top: 49%"></div>
  <div class="particle36" style="left: 36%; top: 35%"></div>
  <div class="particle37" style="left: 37%; top: 10%"></div>
  <div class="particle38" style="left: 38%; top: 13%"></div>
  <div class="particle39" style="left: 39%; top: 36%"></div>
  <div class="particle40" style="left: 20%; top: 48%"></div>
  <div class="particle41" style="left: 41%; top: 40%"></div>
  <div class="particle42" style="left: 22%; top: 35%"></div>
  <div class="particle43" style="left: 43%; top: 36%"></div>
  <div class="particle44" style="left: 34%; top: 45%"></div>
  <div class="particle45" style="left: 40%; top: 20%"></div>
  <div class="particle46" style="left: 46%; top: 32%"></div>
  <div class="particle47" style="left: 47%; top: 39%"></div>
  <div class="particle48" style="left: 48%; top: 21%"></div>
  <div class="particle49" style="left: 49%; top: 12%"></div>
  <div class="particle50" style="left: 50%; top: 44%"></div>
  <div class="particle51" style="left: 51%; top: 46%"></div>
  <div class="particle52" style="left: 52%; top: 35%"></div>
  <div class="particle53" style="left: 53%; top: 12%"></div>
  <div class="particle54" style="left: 54%; top: 47%"></div>
  <div class="particle55" style="left: 55%; top: 34%"></div>
  <div class="particle56" style="left: 56%; top: 10%"></div>

  <div class="particle57" style="left: 57%; top: 85%"></div>
  <div class="particle58" style="left: 58%; top: 49%"></div>
  <div class="particle59" style="left: 59%; top: 54%"></div>
  <div class="particle60" style="left: 60%; top: 73%"></div>
  <div class="particle61" style="left: 61%; top: 44%"></div>
  <div class="particle62" style="left: 62%; top: 81%"></div>
  <div class="particle63" style="left: 63%; top: 59%"></div>
  <div class="particle64" style="left: 64%; top: 30%"></div>
  <div class="particle65" style="left: 65%; top: 90%"></div>
  <div class="particle66" style="left: 66%; top: 77%"></div>
  <div class="particle67" style="left: 67%; top: 64%"></div>
  <div class="particle68" style="left: 68%; top: 86%"></div>
  <div class="particle69" style="left: 69%; top: 20%"></div>
  <div class="particle70" style="left: 70%; top: 35%"></div>
  <div class="particle71" style="left: 71%; top: 78%"></div>
  <div class="particle72" style="left: 72%; top: 96%"></div>
  <div class="particle73" style="left: 73%; top: 33%"></div>
  <div class="particle74" style="left: 74%; top: 68%"></div>
  <div class="particle75" style="left: 75%; top: 26%"></div>
  <div class="particle76" style="left: 76%; top: 74%"></div>
  <div class="particle77" style="left: 77%; top: 11%"></div>
  <div class="particle78" style="left: 78%; top: 12%"></div>
  <div class="particle79" style="left: 79%; top: 58%"></div>
  <div class="particle80" style="left: 80%; top: 71%"></div>
  <div class="particle81" style="left: 81%; top: 13%"></div>
  <div class="particle82" style="left: 82%; top: 58%"></div>
  <div class="particle83" style="left: 83%; top: 75%"></div>
  <div class="particle84" style="left: 84%; top: 95%"></div>
  <div class="particle85" style="left: 85%; top: 73%"></div>
  <div class="particle86" style="left: 86%; top: 30%"></div>
  <div class="particle87" style="left: 87%; top: 86%"></div>
  <div class="particle88" style="left: 88%; top: 76%"></div>
  <div class="particle89" style="left: 89%; top: 13%"></div>
  <div class="particle90" style="left: 90%; top: 80%"></div>
  <div class="particle91" style="left: 91%; top: 69%"></div>
  <div class="particle92" style="left: 92%; top: 84%"></div>
  <div class="particle93" style="left: 93%; top: 29%"></div>
  <div class="particle94" style="left: 94%; top: 36%"></div>
  <div class="particle95" style="left: 95%; top: 87%"></div>
  <div class="particle96" style="left: 96%; top: 42%"></div>
  <div class="particle97" style="left: 97%; top: 73%"></div>
  <div class="particle98" style="left: 98%; top: 79%"></div>
  <div class="particle99" style="left: 99%; top: 63%"></div>
  <div class="particle100" style="left: 100%; top: 26%"></div>
</div>

<!-- Banner o Encabezado Principal -->
<div class="seccion">
  <h1>
    Bienvenido a InfiniteSoftware Innovations, donde convertimos ideas en
    experiencias digitales extraordinarias.
  </h1>
  <p>
    Especializados en desarrollo de aplicaciones móviles, juegos innovadores y
    soluciones personalizadas.
  </p>
</div>

<!-- Sección "Sobre Nosotros" -->
<section class="seccion">
  <h2  class="#about">Sobre Nosotros</h2>
  <p>
    Somos InfiniteSoftware Innovations, una empresa dedicada a impulsar la
    innovación y transformar ideas en soluciones digitales impactantes. Nos
    especializamos en el desarrollo de aplicaciones móviles, juegos envolventes
    y soluciones personalizadas para clientes visionarios.
  </p>
</section>

<!-- Sección Destacada "Nuestros Servicios" -->
<section class="seccion">
  <h2 >Nuestros Servicios</h2>
  <div class="service">
    <h3>Aplicaciones Educativas Avanzadas</h3>
    <p>
      Desarrollamos aplicaciones móviles educativas que brindan experiencias de
      aprendizaje interactivas y envolventes. Desde plataformas de enseñanza a
      distancia hasta aplicaciones especializadas para diferentes disciplinas,
      estamos comprometidos a impulsar la educación del futuro.
    </p>
  </div>
  <div class="service">
    <h3>Juegos Innovadores</h3>
    <p>
      Sumérgete en el mundo del entretenimiento digital con nuestros juegos
      cautivadores. Desde juegos educativos para niños hasta experiencias de
      realidad virtual envolventes, creamos mundos digitales que cautivan y
      desafían a jugadores de todas las edades.
    </p>
  </div>
  <div class="service">
    <h3>Desarrollo Personalizado</h3>
    <p>
      Ofrecemos soluciones de desarrollo de software a medida para aquellos que
      desean convertir sus ideas en realidad. Ya sea una aplicación única, un
      juego personalizado o una plataforma empresarial, nuestro equipo de
      expertos trabaja de la mano contigo para materializar tu visión.
    </p>
  </div>
</section>

<!-- Sección "Testimonios" -->
<section class="seccion">
  <h2 class="#testimonials">Testimonios</h2>
  <div class="testimonial">
    <blockquote>[Cita testimonial 1]</blockquote>
  </div>
  <div class="testimonial">
    <blockquote>[Cita testimonial 2]</blockquote>
  </div>
  <div class="testimonial">
    <blockquote>[Cita testimonial 3]</blockquote>
  </div>
</section>

<!-- Enlaces a Páginas Clave -->
<footer class="footer">
  <!-- Llamadas a la Acción (CTA) -->

  <h2 class="#contact">
    Únete a la revolución digital con InfiniteSoftware Innovations. <br />
    Descubre cómo podemos transformar tus ideas en realidades digitales.
  </h2>
  <div class="cta-buttons">
    <button>Explora Nuestros Servicios</button>
    <button>Contáctanos para Consultas</button>
    <button>Solicita una Demostración</button>
  </div>

  <p><a class="rotlink" routerLink="/about">Descubre más sobre nosotros</a></p>
  <p>
    <a class="rotlink" routerLink="/services">Explora nuestros servicios</a>
  </p>
  <p>
    <a class="rotlink" routerLink="/testimonials"
      >Lee los testimonios de nuestros clientes</a
    >
  </p>
</footer>
