<div class="fondo">
  <app-header></app-header>
  <div id="title">
    <span>INFINITI SOFTWARE INNOVATIONS</span>
  </div>
  <div id="bienvenida">
    <span
      >Bienvenido a InfiniteSoftware Innovations donde convertimos ideas en
      experiencias digitales extraordinarias.</span>
  </div>
  <app-particulas></app-particulas>
</div>

<div id="inicio">
  <div class="seccion">
    <div class="descripcion">
      <p-card>
        <ng-template pTemplate="content">
          <p>
            Desarrollamos aplicaciones móviles educativas que brindan
            experiencias de aprendizaje interactivas y envolventes. Desde
            plataformas de enseñanza a distancia hasta aplicaciones
            especializadas para diferentes disciplinas, estamos comprometidos a
            impulsar la educación del futuro.
          </p>
        </ng-template>
        <ng-template pTemplate="title">
          <img
            class="banerSectionImges"
            src="../../../assets/img/aplicacionesMoviles.png"
            alt="Aplicaciones móviles"
          />
        </ng-template>
      </p-card>
      <p-card>
        <ng-template pTemplate="title">
          <img
            class="banerSectionImges"
            src="../../../assets/img/aplicacionesJuegos.png"
            alt="Juegos innovadores"
          />
        </ng-template>
        <ng-template pTemplate="content">
          <p>
            Sumérgete en el mundo del entretenimiento digital con nuestros
            juegos cautivadores. Desde juegos educativos para niños hasta
            experiencias de realidad virtual envolventes, creamos mundos
            digitales que cautivan y desafían a jugadores de todas las edades.
          </p>
        </ng-template>
      </p-card>
      <p-card>
        <ng-template pTemplate="title">
          <img
            class="banerSectionImges"
            src="../../../assets/img/aplicacionesaMedida.png"
            alt="Soluciones personalizadas"
          />
        </ng-template>
        <ng-template pTemplate="content">
          <p>
            Ofrecemos soluciones de desarrollo de software a medida para
            aquellos que desean convertir sus ideas en realidad. Ya sea una
            aplicación única, un juego personalizado o una plataforma
            empresarial, nuestro equipo de expertos trabaja de la mano contigo
            para materializar tu visión.
          </p>
        </ng-template>
      </p-card>
      <p-card>
        <ng-template pTemplate="title">
          <img
            class="banerSectionImges"
            src="../../../assets/img/aplicacionesIA.png"
            alt="Desarrollo de Inteligencia Artificial"
          />
        </ng-template>
        <ng-template pTemplate="content">
          <p>
            Impulsamos el desarrollo de soluciones basadas en inteligencia
            artificial para resolver problemas complejos y mejorar la eficiencia
            en diversos sectores. Desde análisis de datos hasta sistemas de
            recomendación, nuestro equipo de expertos en IA te ofrece soluciones
            innovadoras y escalables.
          </p>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>

<div id="about">
  <div class="seccion">
    <div class="contenido">
      <div class="imagen">
        <img
          src="../../../assets/img/LogoEmpresaAjustado.png"
          alt="Logo de la empresa"
        />
      </div>
      <div class="texto">
        <h2>Sobre Nosotros</h2>
        <p>
          Somos Infinite Software Innovations, una empresa dedicada a impulsar
          la innovación y transformar ideas en soluciones digitales impactantes.
          Nos especializamos en el desarrollo de aplicaciones móviles, juegos
          envolventes y soluciones personalizadas para clientes visionarios.
        </p>
        <p>
          Nuestra misión es proporcionar soluciones tecnológicas que eduquen,
          entretengan y empoderen a las personas en todo el mundo. Con un
          enfoque en la innovación constante y la colaboración creativa, estamos
          comprometidos a liderar el camino hacia un futuro digital brillante.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="contact">
  <footer class="footer">
    <h2 class="#contact">
      Únete a la revolución digital con InfiniteSoftware Innovations. <br />
      Descubre cómo podemos transformar tus ideas en realidades digitales.
    </h2>
    <div class="cta-buttons">
      <button
        pButton
        type="button"
        class="p-button-rounded p-button-lg p-button-success"
      >
        Explora Nuestros Servicios
      </button>
      <button
        pButton
        type="button"
        class="p-button-rounded p-button-lg p-button-info"
      >
        Contáctanos para Consultas
      </button>
      <button
        pButton
        type="button"
        class="p-button-rounded p-button-lg p-button-warning"
      >
        Solicita una Demostración
      </button>
    </div>
    <div class="links">
      <p>
        <a class="rotlink" routerLink="/about">Descubre más sobre nosotros</a>
      </p>
      <p>
        <a class="rotlink" routerLink="/services">Explora nuestros servicios</a>
      </p>
      <p>
        <a class="rotlink" routerLink="/testimonials"
          >Lee los testimonios de nuestros clientes</a
        >
      </p>
    </div>
  </footer>
</div>
