.fondo{
  padding: 20px;
  height: 400px;
  margin: 0;
  background-image: url("../../../assets/img/Espacio.jpg");
  /*background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);*/
  overflow: hidden;
  position: relative;
  background-size: cover;
 }

#title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  z-index: 2; 
}

#title span {
  background: -webkit-linear-gradient(rgb(249, 255, 249), #00e01a);
  /* background: -webkit-linear-gradient(white, #002b55); */
  -webkit-background-clip: text;
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el header */
}

#logo {
  margin-right: 5px; /* Agrega un margen derecho para separar el logo del menú */
}

.logImage{
  margin-top: 10px;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 15px; /* Ajusta el espacio entre los elementos del menú */
}

nav a {
  text-decoration: none; 
  color: white; 
  font-family: 'Lato', sans-serif;
}

.seccion {
  width: 80%;
  margin: 0 auto; /* Centra horizontalmente la sección */
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 20px; /* Espacio entre secciones */
}

.footer {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rotlink{
  color: white;
  text-decoration: none; /* Elimina el subrayado */
}

.particle1   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle2   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle3   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle4   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle5   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle6   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle7   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle8   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle9   {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle10  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle11  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle12  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle13  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle14  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle15  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle16  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle17  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle18  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle19  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle20  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle21  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle22  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle23  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle24  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle25  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle26  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle27  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle28  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle29  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle30  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle31  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle32  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle33  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle34  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle35  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle36  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle37  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle38  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle39  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle40  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle41  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle42  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle43  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle44  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle45  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle46  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle47  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle48  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle49  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle50  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle51  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle52  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle53  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle54  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle55  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle56  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle57  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle58  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle59  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle60  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle61  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle62  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle63  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle64  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle65  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle66  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle67  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle68  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle69  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle70  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle71  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle72  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle73  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle74  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle75  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle76  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle77  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle78  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle79  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle80  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle81  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle82  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle83  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle84  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle85  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle86  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle87  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle88  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle89  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle90  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle91  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle92  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle93  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle94  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle95  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle96  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle97  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle98  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle99  {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }
.particle100 {position: absolute; width: 2px;  height: 2px;  background-color: #ffffff;  border-radius: 50%;  }






@keyframes particleAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}


.particle1   { animation: particleAnimation 77s  ease infinite;}
.particle2   { animation: particleAnimation 42s  ease infinite;}
.particle3   { animation: particleAnimation 23s  ease infinite;}
.particle4   { animation: particleAnimation 52s  ease infinite;}
.particle5   { animation: particleAnimation 45s  ease infinite;}
.particle6   { animation: particleAnimation 11s  ease infinite;}
.particle7   { animation: particleAnimation 27s  ease infinite;}
.particle8   { animation: particleAnimation 46s  ease infinite;}
.particle9   { animation: particleAnimation 33s  ease infinite;}
.particle10  { animation: particleAnimation 60s  ease infinite;}
.particle11  { animation: particleAnimation 63s  ease infinite;}
.particle12  { animation: particleAnimation 76s  ease infinite;}
.particle13  { animation: particleAnimation 13s  ease infinite;}
.particle14  { animation: particleAnimation 11s  ease infinite;}
.particle15  { animation: particleAnimation 50s  ease infinite;}
.particle16  { animation: particleAnimation 69s  ease infinite;}
.particle17  { animation: particleAnimation 56s  ease infinite;}
.particle18  { animation: particleAnimation 47s  ease infinite;}
.particle19  { animation: particleAnimation 68s  ease infinite;}
.particle20  { animation: particleAnimation 74s  ease infinite;}
.particle21  { animation: particleAnimation 42s  ease infinite;}
.particle22  { animation: particleAnimation 62s  ease infinite;}
.particle23  { animation: particleAnimation 38s  ease infinite;}
.particle24  { animation: particleAnimation 74s  ease infinite;}
.particle25  { animation: particleAnimation 53s  ease infinite;}
.particle26  { animation: particleAnimation 78s  ease infinite;}
.particle27  { animation: particleAnimation 48s  ease infinite;}
.particle28  { animation: particleAnimation 87s  ease infinite;}
.particle29  { animation: particleAnimation 85s  ease infinite;}
.particle30  { animation: particleAnimation 96s  ease infinite;}
.particle31  { animation: particleAnimation 63s  ease infinite;}
.particle32  { animation: particleAnimation 47s  ease infinite;}
.particle33  { animation: particleAnimation 78s  ease infinite;}
.particle34  { animation: particleAnimation 38s  ease infinite;}
.particle35  { animation: particleAnimation 96s  ease infinite;}
.particle36  { animation: particleAnimation 67s  ease infinite;}
.particle37  { animation: particleAnimation 17s  ease infinite;}
.particle38  { animation: particleAnimation 71s  ease infinite;}
.particle39  { animation: particleAnimation 12s  ease infinite;}
.particle40  { animation: particleAnimation 65s  ease infinite;}
.particle41  { animation: particleAnimation 48s  ease infinite;}
.particle42  { animation: particleAnimation 46s  ease infinite;}
.particle43  { animation: particleAnimation 23s  ease infinite;}
.particle44  { animation: particleAnimation 49s  ease infinite;}
.particle45  { animation: particleAnimation 18s  ease infinite;}
.particle46  { animation: particleAnimation 96s  ease infinite;}
.particle47  { animation: particleAnimation 100s ease infinite;}
.particle48  { animation: particleAnimation 27s  ease infinite;}
.particle49  { animation: particleAnimation 60s  ease infinite;}
.particle50  { animation: particleAnimation 26s  ease infinite;}
.particle51  { animation: particleAnimation 19s  ease infinite;}
.particle52  { animation: particleAnimation 15s  ease infinite;}
.particle53  { animation: particleAnimation 19s  ease infinite;}
.particle54  { animation: particleAnimation 93s  ease infinite;}
.particle55  { animation: particleAnimation 83s  ease infinite;}
.particle56  { animation: particleAnimation 92s  ease infinite;}
.particle57  { animation: particleAnimation 77s  ease infinite;}
.particle58  { animation: particleAnimation 17s  ease infinite;}
.particle59  { animation: particleAnimation 96s  ease infinite;}
.particle60  { animation: particleAnimation 80s  ease infinite;}
.particle61  { animation: particleAnimation 42s  ease infinite;}
.particle62  { animation: particleAnimation 12s  ease infinite;}
.particle63  { animation: particleAnimation 100s ease infinite;}
.particle64  { animation: particleAnimation 25s  ease infinite;}
.particle65  { animation: particleAnimation 17s  ease infinite;}
.particle66  { animation: particleAnimation 48s  ease infinite;}
.particle67  { animation: particleAnimation 81s  ease infinite;}
.particle68  { animation: particleAnimation 50s  ease infinite;}
.particle69  { animation: particleAnimation 44s  ease infinite;}
.particle70  { animation: particleAnimation 73s  ease infinite;}
.particle71  { animation: particleAnimation 87s  ease infinite;}
.particle72  { animation: particleAnimation 24s  ease infinite;}
.particle73  { animation: particleAnimation 61s  ease infinite;}
.particle74  { animation: particleAnimation 39s  ease infinite;}
.particle75  { animation: particleAnimation 33s  ease infinite;}
.particle76  { animation: particleAnimation 66s  ease infinite;}
.particle77  { animation: particleAnimation 39s  ease infinite;}
.particle78  { animation: particleAnimation 68s  ease infinite;}
.particle79  { animation: particleAnimation 26s  ease infinite;}
.particle80  { animation: particleAnimation 51s  ease infinite;}
.particle81  { animation: particleAnimation 46s  ease infinite;}
.particle82  { animation: particleAnimation 33s  ease infinite;}
.particle83  { animation: particleAnimation 10s  ease infinite;}
.particle84  { animation: particleAnimation 37s  ease infinite;}
.particle85  { animation: particleAnimation 80s  ease infinite;}
.particle86  { animation: particleAnimation 16s  ease infinite;}
.particle87  { animation: particleAnimation 11s  ease infinite;}
.particle88  { animation: particleAnimation 64s  ease infinite;}
.particle89  { animation: particleAnimation 83s  ease infinite;}
.particle90  { animation: particleAnimation 43s  ease infinite;}
.particle91  { animation: particleAnimation 76s  ease infinite;}
.particle92  { animation: particleAnimation 74s  ease infinite;}
.particle93  { animation: particleAnimation 24s  ease infinite;}
.particle94  { animation: particleAnimation 24s  ease infinite;}
.particle95  { animation: particleAnimation 22s  ease infinite;}
.particle96  { animation: particleAnimation 47s  ease infinite;}
.particle97  { animation: particleAnimation 82s  ease infinite;}
.particle98  { animation: particleAnimation 18s  ease infinite;}
.particle99  { animation: particleAnimation 66s  ease infinite;}
.particle100 { animation: particleAnimation 81s  ease infinite;}



