

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Lato', sans-serif;
}

.seccion {
  width: 80%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  margin-top: 20px; 
}

.descripcion {
  display: flex;
  align-items: center;
}

.descripcion p {
  flex: 1;
  margin-right: 20px;
}

.descripcion img {
  max-width: 100%;
  height: auto;
}


.banerSectionImges{
  height: 200px;
  width: 200px;
}

.contenido {
  display: flex;
}

.texto {
  flex: 1; 
  z-index: 1; 
}

.imagen {
  z-index: 0; 
}
