<header>
    <div id="logo">
      <!-- Logotipo de InfiniteSoftware Innovations -->
      <img
        class="logImage"
        src="../../../assets/img/LogoEmpresa512Nuevo.png"
        alt="InfiniteSoftware Innovations"
      />
    </div>
    <!-- Menú de navegación -->
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Acerca de</a></li>
        <li><a routerLink="/product" routerLinkActive="active">Productos o Servicios</a></li>
        <!-- <li><a routerLink="/blog" routerLinkActive="active">Blog o Novedades</a></li> -->
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
      </ul>
    </nav>    
  </header>