.fondo {
  position: relative;
  margin: 0;
  overflow: hidden;
  background-image: url("../../../assets/img/FondoEspacial.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p,h2,h3{
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.noticia {
  display: flex;
}

.imagen-noticia {
  flex: 1;
  margin-right: 20px; 
}

.imagen-noticia img {

  margin-left: 20%;
  margin-right: 10%;
  width: 80%;
}

.contenido-noticia {
  flex: 1;
}
