<div class="fondo">
  <app-header></app-header>

  <div id="title">
    <span>INFINITI SOFTWARE INNOVATIONS</span>
  </div>

  <app-particulas></app-particulas>

  <section class="about">
    <h2>Sobre Nosotros</h2>
    <p>
      Somos Infinite Software Innovations, una empresa dedicada a impulsar la
      innovación y transformar ideas en soluciones digitales impactantes. Nos
      especializamos en el desarrollo de aplicaciones móviles, juegos
      envolventes y soluciones personalizadas para clientes visionarios.
    </p>
    <p>
      Nuestra misión es proporcionar soluciones tecnológicas que eduquen,
      entretengan y empoderen a las personas en todo el mundo. Con un enfoque en
      la innovación constante y la colaboración creativa, estamos comprometidos
      a liderar el camino hacia un futuro digital brillante.
    </p>
  </section>
  <section class="team">
    <!-- Aquí puedes agregar información sobre tu equipo si lo deseas -->
    <h2>Nuestro Equipo</h2>
    <p>Descripción del equipo...</p>
  </section>
  <!-- Puedes agregar más secciones según tus necesidades -->
</div>
