<div class="fondo">
  <app-header></app-header>

  <app-particulas></app-particulas>

  <section class="about">
    <h2>Sobre Nosotros</h2>
    <p>
      Somos Infinite Software Innovations, una empresa dedicada a impulsar la
      innovación y transformar ideas en soluciones digitales impactantes. Nos
      especializamos en el desarrollo de aplicaciones móviles, juegos
      envolventes y soluciones personalizadas para clientes visionarios. Creemos
      que cada proyecto es una oportunidad para hacer una diferencia positiva en
      el mundo. Con nuestra experiencia, creatividad y pasión por la tecnología,
      trabajamos incansablemente para superar las expectativas de nuestros
      clientes y contribuir al avance de la sociedad.
    </p>
    <p>
      Nuestra misión es proporcionar soluciones tecnológicas que eduquen,
      entretengan y empoderen a las personas en todo el mundo. Con un enfoque en
      la innovación constante y la colaboración creativa, estamos comprometidos
      a liderar el camino hacia un futuro digital brillante.
    </p>
    <p>
      Nuestra misión es proporcionar soluciones tecnológicas que eduquen,
      entretengan y empoderen a las personas en todo el mundo. Con un enfoque en
      la innovación constante y la colaboración creativa, estamos comprometidos
      a liderar el camino hacia un futuro digital brillante.
    </p>
  </section>

  <section class="team">
    <div id="team">
      <!-- Sección "Nuestro Equipo" -->
      <div class="seccion">
        <h2>Nuestro Equipo</h2>
        <p>En Infinite Software Innovations, nuestro equipo está formado por profesionales altamente cualificados y apasionados por la tecnología. Cada miembro de nuestro equipo aporta una amplia experiencia y un enfoque innovador a cada proyecto que emprendemos.</p>
        <p>Nos enorgullece contar con un grupo diverso de expertos en desarrollo de software, diseño creativo, inteligencia artificial, análisis de datos y más. Trabajamos de manera colaborativa y comprometida para ofrecer soluciones digitales excepcionales que cumplan con las necesidades y expectativas de nuestros clientes.</p>
        <p>Conoce más sobre los miembros clave de nuestro equipo y descubre cómo su experiencia y dedicación contribuyen al éxito de Infinite Software Innovations.</p>
      </div>
    </div>
  </section>

</div>